{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Index</title>
</head>

<body>
    <div class="mensagem">
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <h1>Testes Unitarios (Django)</h1>

    <div class="container">
        <main>
            <p class="titulo">Lista de Nomes</p>
            {% if usuarios %}
            <ul>
                {% for usuario in usuarios %}
                <li>{{ usuario.nome }} - {{ usuario.idade }} anos   
                    <a href="{% url 'excluir_usuario' usuario.id %}">Deletar</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Nenhum usuário encontrado.</p>
            {% endif %}

        </main>
        <main>
            <form action="{% url 'salvar' %}" method="post">
                <p class="titulo">Adicionar Nome e Idade</p>
                {% csrf_token %}
                <p>
                    <label for="nome">Nome:</label>
                    <input type="text" id="name" name="nome" required>
                </p>
                <p>
                    <label for="idade">Idade:</label>
                    <input type="text" id="idade" name="idade" required>
                </p>
                <button type="submit">Salvar</button>
            </form>
        </main>
    </div>

</body>

</html>